<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>WalletsAir</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">WalletsAir</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('form') }}">Buy Airtime</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{{ url_for('form') }}">Buy Airtime</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">WalletsAir</h1>
      <div class="row center">
        <h5 class="header col s12 light">A website for seamlessly buying airtime using your Wallets Africa wallet</h5>
      </div>
      <div class="row center">
        <a href="{{ url_for('form') }}" id="download-button" class="btn-large waves-effect waves-light orange">Buy Airtime</a>
      </div>
      <br><br>

    </div>
  </div>

<br><hr><br>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <h3 class="header center orange-text">How To Use</h3>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">account_circle</i></h2>
            <h5 class="center">Create Account</h5>

            <p class="light">Create an account with <a href="https://app.wallets.africa/signup">Wallets.africa</a>. A mail will be sent to you for email verification, click on the mail to verify your account.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">fingerprint</i></h2>
            <h5 class="center">Get Keys</h5>

            <p class="light">Log into your <a href="https://app.wallets.africa/login">Wallets.africa</a> account. Go to <em>Settings > Developer Keys</em> then request for keys.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">payment</i></h2>
            <h5 class="center">Buy Airtime</h5>

            <p class="light">After you have gotten your keys, use the details to purchase airtime by clicking the button above and filling the form accordingly. Airtime purchase will be charged from your Wallets.africa wallet.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/Damianson">@Damianson</a> Email: damiansonuchegbu2017@gmail.com
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

  </body>
</html>
